<!DOCTYPE html>
<html>
    <%- include("partials/head", {title: "Formulas"}) %>

    <body>
        <%- include('partials/nav.ejs', {active: 'formulas'}) %>
        <main class="mx-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% formulas.forEach(formula => { %> <%-
                    include('partials/object.ejs', { object: formula, type:
                    "formulas", showType: false }); %> <% }) %>
                </tbody>
            </table>
        </main>
    </body>
</html>
