<!DOCTYPE html>
<html>
    <%- include("partials/head", {title: "People"}) %>
    <body>
        <%- include('partials/nav.ejs', {active: 'people'}) %>
        <main class="mx-5">
            <table class="table">
                <thead>
                    <tr>
                        <!-- Make name sortable -->
                        <th scope="col" class="">
                            Name
                            <section class="d-flex">
                                <a
                                    href="/people?sort=name&order=asc"
                                    class="fas fa-sort-alpha-up"
                                >
                                </a>
                                <a
                                    href="/people?sort=name&order=desc"
                                    class="fas fa-sort-alpha-down"
                                >
                                </a>
                            </section>
                        </th>
                        <th scope="col">Age</th>
                        <th scope="col">Birth Year</th>
                        <th scope="col">Field</th>
                    </tr>
                </thead>
                <tbody>
                    <% cards.forEach(card => { %> <%-
                    include('partials/card.ejs', { card }); %> <% }) %>
                </tbody>
            </table>
        </main>
    </body>
</html>
